.button {
  &--inline {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid currentColor;
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    padding-bottom: 2px;
    transition: all 0.5s;

    > span {
      margin-left: 3px;
      transition: margin-left 0.2s;
    }

    &:hover {
      color: var(--color-gray-darkest);

      span {
        margin-left: 8px;
      }
    }
  }
}
