/* Home */
.content {
  display: flex;

  .hotel-view {
    background-color: #fff;
    flex: 1;
    min-height: 80rem;

    .overview {
      align-items: center;
      border-bottom: var(--border-gray);
      display: flex;

      &__heading {
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
        text-transform: uppercase;
      }

      &__icon {
        fill: var(--color-primary);
        height: 2rem;
        width: 2rem;
      }

      &__location {
        display: flex;
        font-size: 1.5rem;
        vertical-align: center;

        .overview__icon {
          margin-right: 0.5rem;
        }
      }

      &__rating {
        align-items: center;
        align-self: stretch;
        background-color: var(--color-primary);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3rem;
        padding: 0 2rem;
      }

      &__rating-average {
        font-size: 2rem;
        font-weight: 300;
      }

      &__rating-count {
        font-size: 1rem;
        text-transform: uppercase;
      }

      &__stars-container {
        display: flex;
        margin-right: auto;
      }
    }
  }

  .detail {
    background-color: var(--color-gray-lightest);
    border-bottom: var(--border-gray);
    display: flex;
    padding: 4.5rem;
  }

  .description {
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;
    font-size: 1.4rem;
    margin-right: 4.5rem;
    padding: 3rem;
  }

  .user-reviews {
    flex: 1;
  }
}
